# Makefile variations
Makefile_dev
Makefile_prod
Makefile_public
Makefile

# build artifacts
node_modules/
dist/
dist/*.zip
cloudformation/deployment.yaml
cloudformation/deployment_package.yaml

# Python dependencies
package/

yarn.lock
