# Makefile variations
Makefile_dev
Makefile_prod
Makefile_public
Makefile

# build artifacts
node_modules/
dist/
dist/*.zip
templates/deployment.yaml
templates/deployment_package.yaml


# Python dependencies
package/

yarn.lock
deployment_test.yaml
deployment_test_mod.yaml
deployment_test_package.yaml
