Makefile_dev
Makefile_prod
Makefile

# build artifacts
node_modules/
dist/*.zip
cloudformation/deployment.yaml
cloudformation/sam_input.yaml

# Python dependencies
package/

package-lock.json
yarn.lock
